<configuration>
    <property name="log_pattern"
              value="%d{HH:mm:ss.SSS} [%thread] %highlight(%.-1level) %logger{36} - %msg%n"/>
    <property name="log_path" value="LOGGING_RECORDS"/>

    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log_path}/report-print.log</file>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <fileNamePattern>${log_path}/report-print-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
            <maxFileSize>10MB</maxFileSize>
            <maxHistory>5</maxHistory>
            <totalSizeCap>1GB</totalSizeCap>
        </rollingPolicy>
        <encoder>
            <pattern>${log_pattern}</pattern>
        </encoder>
    </appender>

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <layout class="ch.qos.logback.classic.PatternLayout">
            <Pattern>${log_pattern}</Pattern>
        </layout>
    </appender>

    <logger name="com.accenture" level="info"/>
    <logger name="liquibase" level="info" additivity="true">
        <appender-ref ref="FILE" />
    </logger>

    <root level="error">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>
</configuration>